*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: black;
}
#reloj{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid cyan;
    color: cyan;
    border-radius: 50%;
    font-size: 1.7rem;
}
.tarea{
    width:300px;
    min-width: 70px;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #1ec0cc;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.icono-eliminar{
    color: white;
    font-size: 24px;
}


i{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px ;
}
